<h1 mat-dialog-title class="news-form__header">Создать новость</h1>
<form class="news-form" [formGroup]="newsForm" mat-dialog-content>
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input formControlName="title" matInput />
    <mat-error>Поле обязательно для заполнения</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea
      cdkTextareaAutosize
      matInput
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <div class="news-form__add-image-container">
    <input
      #imageUpload
      accept="image/*"
      hidden="false"
      formControlName="imageUpload"
      onclick="this.value=null"
      type="file"
      (change)="onImageUploadClick($event)"
    />
    <button
      class="news-form__add-image-button"
      mat-flat-button
      color="primary"
      (click)="imageUpload.click()"
    >
      Загрузите изображение
    </button>
  </div>
  <mat-error *ngIf="imageUploadControl.errors && imageUploadControl.touched">
    Поле обязательно для заполнения
  </mat-error>
  <p class="news-form__image-loaded-caption" *ngIf="!!uploadedImage">
    Файл {{ uploadedImage.name }} успешно загружен
  </p>
  <div class="news-form__actions">
    <button mat-raised-button (click)="onCancelClick()">Отменить</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">
      Сохранить
    </button>
  </div>
</form>
