@use "src/styles/mixins/media";

$mobile-indent: 12px;
$tablet-indent: 18px;
$desktop-indent: 24px;

.news-page__content {
  p {
    text-indent: $mobile-indent;

    a:nth-child(1) {
      margin-left: -$mobile-indent;
    }

    @include media.media-tablet {
      text-indent: $tablet-indent;

      a:nth-child(1) {
        margin-left: -$tablet-indent;
      }
    }

    @include media.media-desktop {
      text-indent: $desktop-indent;

      a:nth-child(1) {
        margin-left: -$desktop-indent;
      }
    }
  }
}
