/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--main-layout-background-color);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex: 100%;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
}
